<div
    class="container"
    style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 4px solid #212529;
        margin-bottom: 20px;
    "
>
    <div
        class="nav-brand"
        style="display: flex; flex-direction: column; gap: 5px"
    >
        <a
            href="{{ site.baseurl }}/"
            style="text-decoration: none; color: inherit"
        >
            <h1 style="margin: 0">ChocoBone.dev</h1>
        </a>
        <div style="display: flex; gap: 20px">
            <a
                href="{{ site.baseurl }}/about"
                style="text-decoration: none; color: inherit"
            >
                <h6 style="margin: 0">About</h6>
            </a>
            <a
                href="{{ site.baseurl }}/now"
                style="text-decoration: none; color: inherit"
            >
                <h6 style="margin: 0">Now</h6>
            </a>
        </div>
    </div>

    {% include social-buttons.html %}
</div>
