<div
    class="container"
    style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 4px solid #212529;
        margin-bottom: 20px;
    "
>
    <div class="nav-brand">
        <a
            href="{{ site.baseurl }}/"
            style="text-decoration: none; color: inherit"
        >
            <h1>Chocobone.dev</h1>
        </a>
        <a class="nes-btn" href="{{ site.baseurl }}/about">About</a>
    </div>

    {% include social-buttons.html %}
</div>
