<div
    class="container"
    style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 4px solid #212529;
        margin-bottom: 20px;
    "
>
    <div class="nav-brand">
        <a
            href="{{ site.baseurl }}/"
            style="text-decoration: none; color: inherit"
        >
            <h1>ChocoBone.dev</h1>
        </a>
        <a
            href="{{ site.baseurl }}/about"
            style="text-decoration: none; color: inherit"
        >
            <h6>About</h6>
        </a>

        <a
            href="{{ site.baseurl }}/now"
            style="text-decoration: none; color: inherit"
        >
            <h4>Now</h4>
        </a>
    </div>

    {% include social-buttons.html %}
</div>
