<div class="nav-container">
    <div
        class="nav-brand"
        style="display: flex; flex-direction: column; gap: 5px"
    >
        <a
            href="{{ site.baseurl }}/"
            style="text-decoration: none; color: inherit"
        >
            <h1 style="margin: 0">Chocobone.dev</h1>
        </a>
        <div style="display: flex; gap: 20px">
            <a
                href="{{ site.baseurl }}/about"
                style="text-decoration: none; color: inherit"
            >
                <h6 style="margin: 0">About</h6>
            </a>
            <a
                href="{{ site.baseurl }}/now"
                style="text-decoration: none; color: inherit"
            >
                <h6 style="margin: 0">Now</h6>
            </a>
        </div>
    </div>

    <div style="display: flex; flex-direction: column; align-items: flex-end">
        {% include social-buttons.html %} {% include theme-toggle.html %}
    </div>
</div>
