<div
    class="social-buttons"
    style="display: flex; gap: 20px; align-items: center; text-align: center"
>
    <div class="share" style="margin-right: 15px">
        <a
            href="https://www.linkedin.com/in/%ED%98%84%EC%9B%85-%EC%9C%A0-521821364/"
            target="_blank"
            rel="noopener"
        >
            <i class="nes-icon linkedin"></i>
        </a>
        <a
            href="https://github.com/Chocobone"
            target="_blank"
            rel="noopener"
            style="text-decoration: none; color: inherit"
        >
            <i class="nes-icon github"></i>
        </a>
    </div>
</div>
