---
layout: default
---

<article>
    <header>
        <h2 class="title">{{ page.title }}</h2>
        <div class="nes-text is-disabled note-date-text">
            {% if page.last_modified_at %} Last updated on {{
            page.last_modified_at | date: "%B %-d, %Y" }} {% endif %}
        </div>
    </header>

    <div class="content nes-text">{{ content }}</div>

    {% if page.backlinks.size > 0 %}
    <section class="backlinks nes-container with-title">
        <h3 class="title">Links to this note</h3>
        <ul class="nes-list is-disc note-list">
            {% for backlink in page.backlinks %}
            <li>
                <a
                    class="internal-link nes-text is-primary"
                    href="{{ site.baseurl }}{{ backlink.url }}"
                    >{{ backlink.title }}</a
                >
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</article>
